.info, .success, .warning, .error, .validation {
    border: 1px solid;
    padding: 15px 10px 15px 70px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px;
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/dialogBox_info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/dialogBox_success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/dialogBox_alert.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/dialogBox_error.png');
}